
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-y: hidden;
}

#root {
    background-color: #d8d8d8; 
    height: 100%;
} 

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 97%;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: black;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
