extends layout

block content
  .homeContent
    h1 Expedición Salvamento
    h2 ¡Bienvenido a nuestra página web!
    br
    p 
      | Aquí podrás encontrar contenido extra sobre el juego 'Expedición Salvamento' de la tienda de Skills del asistente Alexa. 
    p  
      | Visita el #[strong mapa] para orientarte en el mundo virtual del juego, accede a la #[strong clasificación] para ver el nivel de tu campamento y compararlo con el de otros jugadores o consulta los #[strong comandos] que puedes usar en partida para resolver los puzles que se te presenten.
    p 
      | Ten cuidado. Puede que entre este contenido encuentres #[strong spoilers] que no querias conocer sobre el juego. 
    br
    h3 
      | ¡Gracias por visitarnos! Esperamos que lo pases bien jugando.
    br


    img(class='map' src='/images/skill-icon.png' width='150' heigth='150')