doctype html
html
  head
    title='Exploración Salvamento'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
  body
    
    .topnav
      .contentCentered
        .contentCentered2
          span
            img(src='/images/skill-icon.png' alt='Shears and crowbar icon' width='37' height='37')
          a(id='home' href='/#home') Inicio
          a(id='map' href='map#map') Mapa
          a(id='ranking' href='ranking#ranking') Clasificación
          a(id='commands' href='commands#commands') Comandos

    .contentCentered
      .borderShadow
        block content
