extends layout

block content
  h2 ¡Este es el mapa disponible en el mundo de Expedición Salvamento!
  h4 
    | Los distintos puntos y dibujos representan las distintas localizaciones que es posible visitar. 
    br
    | No te preocupes si no puedes acceder a todos desde el inicio. Los irás descubriendo a medida que avances.
  br

  div
    img(class='map' src='/images/map.jpg')